/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 920px;
    width: 100%;
    margin: 0 auto;
    /* padding: 14px; */
}

.row{
    margin: 0 -8px;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

[class*= "col-"]{
    position: relative;
    float: left;
    padding: 60px 0px;    
}

.col-1{
    width: calc(100% / 12);
}

/* .col-2{
    width: calc(100% / 12 * 2)
} */